@import "../utilities/variables";

.destinosDiv {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#destinosDiv1, #destinosDiv2, #destinosDiv3, #destinosDiv4, #destinosDiv5, #destinosDiv6, #destinosDiv7, #destinosDiv8 {
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}



#parrafoPromociones, .interDivsDestinos {
    width: 100%;
    height: 170px;
    background-color: $colorClaro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}
#titularPromociones {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../imagenes/ImagenBGPromo.jpg);
}

#titularPromocionesText, .destinosTitularDiv {
    text-align: center;
    padding: 18px;
    background-color: rgba(34, 33, 32, 0.5);
    color: white;
    font-size: 15px;
    font-family: "Oswald";
    letter-spacing: 10px;
}


#títuloPromocionesP3 {
    display: flex;
    justify-content: center;

}

#sectionPromociones {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 10px;    
}

/*RESERVAS*/
#tituloReservas, #tituloContacto, #tituloMapa {
    margin-left: 10px;
}

#reservasTitulo {
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 480px) {
    #destinosDiv1, #destinosDiv2, #destinosDiv3, #destinosDiv4, #destinosDiv5, #destinosDiv6, #destinosDiv7, #destinosDiv8 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    #destinosDiv1 {
        margin-top: 54px;
    }
    $backgroundDestinos:(
            Div1: url(../imagenes/destinos1Cellphone.jpg),
            Div2: url(../imagenes/imagen3Cellphone.jpg),
            Div3: url(../imagenes/destinos3Cellphone.jpg),
            Div4: url(../imagenes/ImagenBGPromoCellphone.jpg),
            Div5: url(../imagenes/destinos5Cellphone.jpg),
            Div6: url(../imagenes/destinos6Cellphone.jpg),
            Div7: url(../imagenes/destinos7Cellphone.jpg),
            Div8: url(../imagenes/destinos8Cellphone.jpg)
            );

            @each $destinosDivs, $bgDestinos in $backgroundDestinos {
                #destinos#{$destinosDivs} {
                    background-image: $bgDestinos;
                }
            }
    /*PromocionesMobile*/
    #sectionPromociones {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    }
    .promocionesP3 {
        max-width: 100%;
        margin: 15px;
    }
}

@media (min-width: 481px) and (max-width:1023px) {

    #destinosDiv1, #destinosDiv2, #destinosDiv3, #destinosDiv4, #destinosDiv5, #destinosDiv6, #destinosDiv7, #destinosDiv8 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    #destinosDiv1 {
        margin-top: 54px;
    }

    $backgroundDestinos:(
            Div1: url(../imagenes/destinos1Tablet.jpg),
            Div2: url(../imagenes/imagen3Tablet.jpg),
            Div3: url(../imagenes/destinos3Tablet.jpg),
            Div4: url(../imagenes/ImagenBGPromoTablet.jpg),
            Div5: url(../imagenes/destinos5Tablet.jpg),
            Div6: url(../imagenes/destinos6Tablet.jpg),
            Div7: url(../imagenes/destinos7Tablet.jpg),
            Div8: url(../imagenes/destinos8Tablet.jpg)
        );

        @each $destinosDivs, $bgDestinos in $backgroundDestinos {
            #destinos#{$destinosDivs} {
                background-image: $bgDestinos;
            }
        }

    #sectionPromociones {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    }
    .promocionesP3 {
        max-width: 100%;
        margin: 15px;
        width: 40%
    }

}

@media (min-width:1024px) {
    #sectionDestinos {
        display: none;
    }
    

    #divFormReserva {
        background-color: rgba(243, 226, 199, 0.5);
        border-top: 5px solid #c0b096;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-top: 104px;
        margin-left: 200px;
        margin-bottom: 40px;
        border-radius: 3px;
    }
    
    .promocionesP3 {
        width: 10%;
    }
}

