@import "../utilities/variables";
#formReserva{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
//MIXIN INPUT FORM
@mixin inputForma ($M, $BR, $H){
    margin: $M;
    border-radius: $BR;
    height: $H;
}
.inputP4 {
    @include inputForma(10px, 4px, 50px)
}
//Fin Mixin
.estadoCivilSelect, .reservaSelect {
    width: 287px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: Black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p4Label {
    padding: 12px 12px 12px 0px;
    display:block;
    color: black;
}

#botonEnviarReserva {
    background-color: #c7f3db;
    margin-left: 80%;
    font-family: "Oswald";
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#botonEnviarReserva:hover {
    background-color:#96c0a9;
    cursor: pointer;
}
@media (max-width: 480px) {
    #divFormReserva {
        background-color: rgba(243, 226, 199, 0.5);
        margin-top: 64px;
    }
}
@media (min-width: 481px) and (max-width:1023px) {
    #divFormReserva {
        background-color: rgba(243, 226, 199, 0.5);
        margin-top: 64px;
    }
}