
#carouselDestinos {
    #carouselContenedorDiv {
        #destinosDiv1, #destinosDiv2, #destinosDiv3, #destinosDiv4, #destinosDiv5, #destinosDiv6, #destinosDiv7, #destinosDiv8 {
        min-height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        }
        
       //Comienzo Map
        $backgroundDestinos:(
            Div1: url(../imagenes/destinos1.jpg),
            Div2: url(../imagenes/imagen3.jpg),
            Div3: url(../imagenes/destinos3.jpg),
            Div4: url(../imagenes/ImagenBGPromo.jpg),
            Div5: url(../imagenes/destinos5.jpg),
            Div6: url(../imagenes/destinos6.jpg),
            Div7: url(../imagenes/destinos7.jpg),
            Div8: url(../imagenes/destinos8.jpg)
        );

        @each $destinosDivs, $bgDestinos in $backgroundDestinos {
            #destinos#{$destinosDivs} {
                background-image: $bgDestinos;
            }
        }
        //Fin Map
#destinosDiv1 {
     margin-top: 54px;
}
        .carouselImages {
            height: 100vh;
        }  
        @media (max-width: 480px) {
            display: none;
            #carouselContenedorDiv {
                display: none;
            }
            
        }
        @media (min-width: 481px) and (max-width:1023px) {
            display: none;
            #carouselContenedorDiv {
                display: none;
            }
            
        }
        @media (min-width: 1024px) {

            .carouselTextBlack {
                color: #fff;
                text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            }
        }
    }
}