@import "../base/typo";
@import "../utilities/variables";

.indexDivs {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
//Comienzo Map
$backgrounds:(
    Div_1: url(../imagenes/imagen1.JPG),
    Div_2: url(../imagenes/imagen2.JPG),
    Div_3: url(../imagenes/imagen3.JPG),
    Div_4: url(../imagenes/imagen4.JPG),
    Div_5: url(../imagenes/imagen5.JPG)
);

@each $divsBG, $bgImages in $backgrounds {
    #index#{$divsBG} {
        background-image: $bgImages;

    }
}
//Fin Map
#indexDiv_1 {
    min-height: 100vh;
    width: 100%;
    margin-top: 54px;
}
.interDivs{
    width: 100%;
    height: 170px;
    background-color: $colorClaro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    font-size: large;
}
.textDivitions{
    text-align: center;
    padding: 18px;
    background-color: rgba(34, 33, 32, 0.5);
    color: white;
    font-size: 15px;
    font-family: "Oswald";
    letter-spacing: 10px;
}

@media (max-width: 480px) {
        $backgrounds:(
        Div_1: url(../imagenes/imagen1Cellphone.JPG),
        Div_2: url(../imagenes/imagen2Cellphone.JPG),
        Div_3: url(../imagenes/imagen3Cellphone.JPG),
        Div_4: url(../imagenes/imagen4Cellphone.JPG),
        Div_5: url(../imagenes/imagen5Cellphone.JPG)
    );

    @each $divsBG, $bgImages in $backgrounds {
        #index#{$divsBG} {
            background-image: $bgImages;

        }
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
        $backgrounds:(
        Div_1: url(../imagenes/imagen1Tablet.JPG),
        Div_2: url(../imagenes/imagen2Tablet.JPG),
        Div_3: url(../imagenes/imagen3Tablet.JPG),
        Div_4: url(../imagenes/imagen4Tablet.JPG),
        Div_5: url(../imagenes/imagen5Tablet.JPG)
    );

    @each $divsBG, $bgImages in $backgrounds {
        #index#{$divsBG} {
            background-image: $bgImages;

        }
}
    
}